/* gujarati */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rasa Light'), local('Rasa-Light'), url(https://fonts.gstatic.com/s/rasa/v3/xn7gYHIn1mWmdg52ghyxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200C-200D, U+20B9, U+25CC, U+A830-A839;
}
/* latin-ext */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rasa Light'), local('Rasa-Light'), url(https://fonts.gstatic.com/s/rasa/v3/xn7gYHIn1mWmdg52ggmxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rasa Light'), local('Rasa-Light'), url(https://fonts.gstatic.com/s/rasa/v3/xn7gYHIn1mWmdg52ggexSvfedN4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* gujarati */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rasa Regular'), local('Rasa-Regular'), url(https://fonts.gstatic.com/s/rasa/v3/xn7vYHIn1mWmfr5UlyqTR93kfQ.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200C-200D, U+20B9, U+25CC, U+A830-A839;
}
/* latin-ext */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rasa Regular'), local('Rasa-Regular'), url(https://fonts.gstatic.com/s/rasa/v3/xn7vYHIn1mWmfqtUlyqTR93kfQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rasa Regular'), local('Rasa-Regular'), url(https://fonts.gstatic.com/s/rasa/v3/xn7vYHIn1mWmfqVUlyqTR90.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* gujarati */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Rasa Medium'), local('Rasa-Medium'), url(https://fonts.gstatic.com/s/rasa/v3/xn7gYHIn1mWmdlZ3ghyxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200C-200D, U+20B9, U+25CC, U+A830-A839;
}
/* latin-ext */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Rasa Medium'), local('Rasa-Medium'), url(https://fonts.gstatic.com/s/rasa/v3/xn7gYHIn1mWmdlZ3ggmxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Rasa Medium'), local('Rasa-Medium'), url(https://fonts.gstatic.com/s/rasa/v3/xn7gYHIn1mWmdlZ3ggexSvfedN4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    transition: opacity 0.3s ease-out;
    opacity: 1;
}

.main_fb {
  display: inline-block;
  position: relative;
  padding: 0px 20px 20px;
  width: 100%;
  max-width: 720px;
}

.main__rule {
    border: 0.5px solid #2a3235;
    width: 60%;
    max-width: 420px;
    margin: 60px 0;
}

.main__entertainment {
    width: 100%;
    max-width: 720px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.main__entertainment__heading {
    font-size: 38px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #d66a2e;
}

.main__entertainment__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 20px;
}

.main__entertainment__list {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 20px;
}

.main__market-stalls {
    width: 100%;
    max-width: 720px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.main__market-stalls__heading {
    font-size: 38px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #d66a2e;
}

.main__market-stalls__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 20px;
}

.main__market-stalls__list {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 20px;
}

.main__location {
    width: 100%;
    max-width: 720px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
}

.main__location__heading {
    font-size: 38px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #d66a2e;
}

.main__location__sub-heading {
    font-size: 28;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.main__location__picture {
    width: 100%;
    min-height: calc((100vw - 40px)/1.8);
}

.main__location__picture img {
    width: 100%;
}

.main__location__button {    
    padding: 12px 30px;
    border: none;
    font-size: 18px;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    box-shadow: -3px 5px 21px -7px rgba(213, 109, 99,.0);
    color: #d66a2e;
    border: .5px solid #d66a2e;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    margin: 0 0 20px;
    text-decoration: none;
}

.main__location__button:hover {
    box-shadow: -3px 5px 21px -7px rgba(213, 109, 99,.3);
    transform: translateY(-5px);
}

.main__map {
    height: 500px;
    width: 100vw;
}

footer {
    background-color: #222f35;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 20px 20px;
    max-width: 720px;
    width: 100%;
}

.footer__logo {
    filter: grayscale(100%) invert(100%);
    align-items: flex-end;
    height: 50px;
    cursor: pointer;
}

.footer__contact {
    color: #c9c9c9;
    max-width: 200px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
}

.footer__info__phone {
    color: #d66a2e;
    max-width: 200px;
    font-size: 16px;
    font-weight: 300;
}

@media (min-width: 720px) {
    header {
        max-height: 600px;
    }

    .header__title {
        font-size: 62px;
    }

    .header__sub-title {
        font-size: 42px;
    }

    .main__location__picture {
        min-height: 400px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media (min-width: 1040px) {
  header {
    max-height: 60vh;
  }
}
